* {
    padding: 0;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
}
body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(70, 90, 30);
}

div.main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 1rem;
    /* background-color: #fff; */
}

div.landing,
div.book-list,
div.new-form {
    padding: 1rem;
    display: none;
    flex-direction: column;
    gap: 0.8rem;
}

div.landing {
    display: flex;
}

div.book-list {
    max-height: 70vh;
    scrollbar-width: auto;
}

div.new-form form {
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

div.new-form form div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

div.new-form form button {
    padding: 0.5rem 0.7rem;
    color: rgb(232, 224, 208);
    background-color: rgb(40, 50, 20);
    font-family: "Rubik", sans-serif;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
}

div.new-form form div label {
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(232, 224, 208);
}

div.new-form form div input {
    font-family: "Rubik", sans-serif;
    font-size: 0.8rem;
    padding: 0.2rem;
    border-radius: 0.5rem;
}

button {
    padding: 0.5rem 0.7rem;
    color: rgb(232, 224, 208);
    background-color: rgb(40, 50, 20);
    font-family: "Rubik", sans-serif;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
}